<app-home></app-home>
<div class="title"><p>Pilots</p></div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">X-wing</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Black One</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Milenium Falcon</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Razor Crest</small>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">X-wing</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Black One</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Milenium Falcon</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Razor Crest</small>
    </div>
  </div>
</div>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">X-wing</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Black One</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Milenium Falcon</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
    <div class="card-footer">
      <small class="text-muted">Razor Crest</small>
    </div>
  </div>
</div>
