<app-home></app-home>
<div class="container">

  <div class="">
    <img src="../assets/StarWars3.png" id="starwars" alt="">
  </div>

  <div class="title">
    <p>Starships</p>
  </div>

  <div class="d-flex mb-3">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <input type="search" class="form-control" placeholder="Filtrar por Nome" [(ngModel)]="filtroLista" id="search">
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let star of starshipsFiltered" style="cursor: pointer;">
      <div class="card">
        <img src="../assets/Ghost-Fathead.png" class="card-img-top" alt="...">
        <div class="card-footer">
          <small class="text-muted">{{star.name}}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button *ngIf="pagina >= 0" (click)="mudarPagina()" (click)="GetAllStarshipPage()" style="font-weight: 600;"
      class="btn mt-3">Próxima</button><br>
    <button *ngIf="pagina > 0" (click)="mudarPagina2()" (click)="GetAllStarshipPage()" style="font-weight: 600;"
      class="btn mt-3">Anterior</button>
  </div>
</div>
