<app-home></app-home>

  <!-- <div class="card-deck" *ngFor="let star of starshipsFiltered">
    <div class="card">
      <img class="card-img-top" src="../assets/Ghost-Fathead.png" alt="Card image cap">
      <div class="card-footer">
       <small class="text-muted">{{star.name}}</small>
      </div>
    </div>
  </div> -->

<div class="container">
  <div class="title">
    <p>Starships</p>
  </div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">X-wing</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Black One</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Milenium Falcon</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Razor Crest</small>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">X-wing</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Black One</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Milenium Falcon</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Razor Crest</small>
      </div>
    </div>
  </div>


  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">X-wing</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Black One</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Milenium Falcon</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/unnamed.jpg" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted">Razor Crest</small>
      </div>
    </div>
  </div>
</div>
