<app-home></app-home>
<div class="container">
  <div class="title">
    <p>Pilots</p>
  </div>

  <div class="d-flex mb-3">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <input type="search" class="form-control" placeholder="Filtrar por Nome" [(ngModel)]="filtroLista" id="search">
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let people of peoplesFiltered" style="cursor: pointer;">
      <a (click)="openModal(people)"><div class="card">
        <img src="../assets/unnamed.jpg" class="card-img-top" alt="...">
        <div class="card-footer">
          <small class="text-muted">{{people.name}}</small>
        </div>
      </div>
    </a>
    </div>
  </div>

  <button (click)="viewButton = !viewButton" (click)="loading()" class="btn btn-primary mt-3">{{nameButton}}</button>

</div>
