#details {
  color: #EEE;
  background-color: #1F2738;
  border: none !important;
}

h4:hover, li:hover {
  color: #F56F36;
}

li {
  color: #EEE;
  background-color: #1F2738;
}

.card-title, .list-group-item {
  display: flex;
  justify-content: center;
}
