<nav class="toolbar" role="banner" id="topo">
    <div>
      <a routerLink="/home">
        <img width="80" alt="Logo Star Wars" src="../assets/StarWarsLogo.png" />
      </a>
      <span>{{ title }}</span>
    </div>

     <!-- Toggler/collapsibe Button -->
     <!-- <button data-target="#collapseInfo" data-toggle="collapse" class="btn btn-info my-2">
      homem de ferro
    </button>
    <div class="collapse show" id="collapseInfo">
      <div class="card card-body">

      </div>
    </div> -->

    <div id="navitens">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" [routerLinkActive]="'selected'"><i
              class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/starships" [routerLinkActive]="'selected'"><i
              class="fab fa-galactic-senate"></i>&nbsp;&nbsp;Starships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pilots" [routerLinkActive]="'selected'"><i
              class="fab fa-jedi-order"></i>&nbsp;&nbsp;Pilots</a>
        </li>
      </ul>
    </div>
</nav>
